@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.borde{
    border: 1px solid #ccc;
}
.container{
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}
nav, main, aside, section, footer, div{    
    display: flex;
    flex-flow: row nowrap;    
}
nav{    
    height: 50px;
}
nav a{
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 0 15px;
}
.logo{
    flex: 20%;
    justify-content: center;
}
.logo img{    
    height: 50px;
    padding: 5px;
}
.navegacion{
    flex: 65%;    
    justify-content: flex-start;
}
.navegacion .inicio{
    flex: 1;
    background: #666;
}
.navegacion .navega{
    flex: 10;
    justify-content: flex-end;    
}
.navegacion .navega a{
    flex: 0;
    background: #666;
}
.navegacion .inicio a:hover,
.navegacion .navega a:hover{
    background: #000;
}
.ingreso{
    flex: 15%;    
    background: #333;
}
.ingreso a{
    color: #fff;
}
.ingreso a:hover{
    background: #000;
}
aside{
    flex: 20%;
    padding: 5px;
}
aside .modulo{
    flex: 1;
}
section{
    flex: 80%;    
    padding: 5px;
}
footer{    
    padding: 5px;
}