@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.borde{
    border: 1px solid #ccc;
}
body{
    overflow: hidden;
}
.container{
    height: 100vh;
    max-width: 1280px;
    margin: auto; 
    display: flex;
    flex-flow: column nowrap;
}
nav, main, aside, section, footer, div{    
    display: flex;
    flex-flow: row nowrap;    
}
nav{
    position: fixed;
    width: 100%;
    max-width: 1280px;
    margin: auto;     
    height: 50px;
}
nav a{
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 0 15px;
}
.logo{
    flex: 20%;
    justify-content: center;
}
.logo a{
    background: #fff;
}
.logo img{    
    height: 50px;
    padding: 5px;    
}
.navegacion{
    flex: 65%;    
    justify-content: flex-start;
    background: #fff;
}
.navegacion .inicio{
    flex: 1;
    background: #666;
}
.navegacion .navega{
    flex: 10;
    justify-content: flex-end;    
}
.navegacion .navega a{
    flex: 0;
    background: #666;
}
.navegacion .inicio a:hover,
.navegacion .navega a:hover{
    background: #000;
}
.ingreso{
    flex: 15%;    
    background: #222;
}
.ingreso a{
    color: #fff;
}
.ingreso a:hover{
    background: #000;
}
main{
    padding-top: 50px;
    height: 92vh;
}
aside{
    height: 100%;
    flex: 20%;
    padding: 5px;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background: #444;
}
aside .modulo{    
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    background: #fff;
}
aside .modulo a{ 
    background: #fff;
}
section{
    flex: 80%;
    flex-flow: column nowrap;
    padding: 5px;
    background: #444;
}
section .migas{
    height: 40px;
    padding: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;    
    background: #fff;
}
section .principal{    
    overflow-y: scroll;
    height: 100%;
    padding: 5px;
    background: #fff;
}
footer{ 
    height: 8vh;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: #222;
    color: #fff;
    font-size: 0.8em;
}